{% include 'base.html' %}
<div class="maincontainer">
  <div class="textcomparediv" id="firstdiv" contenteditable placeholder="Enter first text..."></div>
  <div class="textcomparediv" id="seconddiv" contenteditable placeholder="Enter second text..."></div>
</div>
<br>
<div class="formatbuttonscompare">
  <div><a href=""><button>Open with <b><i>Texty!</i></b></button></a></div>
  <div><a href=""><button style="background-color:#00d1b2;color:white">Compare</button></a></div>
  <div><a href=""><button>Open with <b><i>Texty!</i></b></button></a></div>
</div>
<script>
  document.querySelector("#firstdiv").addEventListener("paste", function(e) {
    e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertHTML", false, text);
  });
  document.querySelector("#seconddiv").addEventListener("paste", function(e) {
    e.preventDefault();
    var text = e.clipboardData.getData("text/plain");
    document.execCommand("insertHTML", false, text);
  });
</script>