.card-left {
    position: fixed;
    width: 400px;
    margin: 50px 10px 10px 10px;
    text-align: center;
}
.card-right{
    position: fixed;
    width: 400px;
    margin: 10px;
    right: 0;
    text-align: center;
    margin: 50px 10px 10px 10px;
}

.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 8rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 70%;
  margin-top: 30px;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.textareaprimary{
    display: block;
    margin: 70px auto 0px auto;
    width: 60%;
    padding: 15px;
    font-size: 22px;
    height: calc(100% - 300px);
    border-radius: 10px;
}
.bordershadow:focus-visible,:visited,:focus {
    outline: rgb(35 173 255);
    box-shadow: 0 0 6px rgb(35 173 255) ;
}

a.navbar-item, .navbar-link{
    font-size: 22px;
}

@media screen and (min-width: 1024px){
    .navbar {
        min-height: 4.25rem;
    }
}
.navbar-item img {
    max-height: none;
}
nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar-start {
    margin-left: auto;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 0%;
}

.upgradespan{
    border-radius: 3px;
    background-color: rgba(255, 204, 29, 1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3), 0 0 10px 0 rgba(255, 204, 29, .9), 0 0 20px 5px rgba(255, 204, 29, .3);
    padding: 5px 10px;
    color: black;
    margin: 0px 5px;
}