.card-left {
    margin: 0px 30px 0px 10px;
    text-align: center;
    width: 100%;
    flex: 0 0 20%;
}

.card-right {
    text-align: center;
    margin: 0px 10px 0px 30px;
    width: 100%;
    flex: 0 0 20%;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}

.textareaprimary {
    display: block;
    margin: 0px 10px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    height: calc(100% - 300px);
    border-radius: 10px;
    flex: 0 0 60%;
}

.bordershadow:focus-visible,
:visited,
:focus {
    outline: rgb(35 173 255);
    box-shadow: 0 0 6px rgb(35 173 255);
}

a.navbar-item,
.navbar-link {
    font-size: 22px;
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 4.25rem;
    }
}

.navbar-item img {
    max-height: none;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar-start {
    margin-left: auto;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 0%;
}

/* .upgradespan{
    border-radius: 3px;
    background-color: rgba(255, 204, 29, 1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3), 0 0 10px 0 rgba(255, 204, 29, .9), 0 0 20px 5px rgba(255, 204, 29, .3);
    padding: 5px 10px;
    color: black;
    margin: 0px 5px;
} */
.maincontainer {
    display: flex;
    width: 1273px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
}

.button-wrapper {
    position: relative;
    width: auto;
    margin: 50px auto;
    height: 100px;
}


.side-button {
    display: block;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    height: 100px;
    width: 100%;
}

.button-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%);
    background-size: 600% 600%;
    border-radius: 15px;
    z-index: -1;
    transform: translate(-2px, -2px);
    transition: filter 1s ease-in;
}

.button-wrapper:hover .button-bg {
    filter: blur(10px);
    transition: filter .4s ease-in;
    animation: AnimateBorder 4s ease infinite;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite;
}

@-webkit-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 8rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-width: 70%;
    margin-top: 30px;
}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.title {
    font-size: 25px;
}

.extraoptions {
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    height: 450px;
    overflow: auto;
}

.extraoptions>div {
    width: 100%;
}

.extraoptionelements {
    padding: 20px;
    width: 100%;
}

.extraoptionelements label {
    font-size: 1.1rem;
}

.extraoptionelements input[type=checkbox] {
    height: 18px;
    width: 18px;
}

.formatbuttons {
    display: flex;
    width: 30%;
    margin: 0 auto;
}

.formatbuttons>div {
    width: 100%;
    text-align: center;
}

.formatbuttons button {
    padding: 20px;
    border: none;
    font-size: 18px;
    width: 90%;
}


.custom-checkbox {
    width: 100%;
}

.custom-checkbox span {
    width: 20rem;
    display: block;
    border-radius: 6px;
    margin: 0 auto;
    color: black;
}

.custom-checkbox-text {
    padding: 1rem;
    color: black;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(112, 112, 112, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(112, 112, 112, 1);
    box-shadow: 2px 2px 5px 0px rgba(112, 112, 112, 1);
}

.custom-checkbox-input:checked~.custom-checkbox-text {
    border: 2px solid #00d1b2;
    color: #00d1b2;
    -webkit-box-shadow: 2px 2px 5px 0px #00d1b2;
    -moz-box-shadow: 2px 2px 5px 0px #00d1b2;
    box-shadow: 2px 2px 5px 0px #00d1b2;
}

.textcomparediv {
    border: 1px solid;
    width: 100%;
    margin: 10px;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}

.textcomparediv[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

.sidetable {
    width: 100%;
    border-spacing: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: hidden;
}

.sidetable th {
    background-color: #00d1b2be;
    padding: 20px;
}

.sidetable td {
    padding: 20px;
    background-color: #e6f5f3;
}

.sidetable td:nth-child(2) {
    text-align: right;
}

.formatbuttonscompare {
    display: flex;
    width: 1273px;
    margin: 0 auto;
    justify-content: space-around;
}

.formatbuttonscompare>div {
    width: 25%;
    text-align: center;
}

.formatbuttonscompare button {
    padding: 20px;
    border: none;
    font-size: 18px;
    width: 90%;
}

.sidetable p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    max-height: 1.2em;
    white-space: nowrap;
    transition: 0.15s;
}

.sidetable p:hover{
    max-height: none !important;
    white-space: pre-wrap;
    transition: max-height 0.15s ease-out;
}

.mainPopup{
    padding: 20px;
    background-color: #EEEEEE;
    transition: .5s;
    max-width: 900px;
    position: absolute;
    margin: auto;
    top: 120px;
    right: 0;
    left: 0;
    border-radius: 10px;
}

.mainPopup i{
    float: right;
    font-size: 20px;
    cursor: pointer;
}